body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #FFD78B, #FBAE4A);
}

.titulo {
  text-align: center;
  color: rgb(136, 136, 226);
  font-size: 70px;
  font-family: "Sevillana", cursive, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-style: normal;
}

input {
  width: 100%;
  height: 300px;
  padding: 16px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid rgb(136, 136, 226);
  margin-bottom: 20px;
  background: #fff5ff;
  resize: vertical;
  font-family: 'Playfair', serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08) inset;
  transition: border 0.3s ease;
}

textarea:focus {
  border-color: rgb(136, 136, 226);
  outline: none;
}

.publicacao {
  background: #ffffff;
  border-left: 6px solid rgb(136, 136, 226);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.publicacao:hover {
  transform: translateY(-3px);
}
